<% a "/map?nobattle=true" %>

<div class="text-center runaway-container">
	<b class="runaway-title">Coward !</b><br/>
	<p class="runaway-subtitle">Shame on you. </p>

	<label>Press [A] to continue</label>
</div>
