<% a "/map?nobattle=true" %>
<% b ("/moviedex/" + params[:id]) %>

<div class="runaway-container text-center">
	<b>You win !</b><br/>
	<p> The moviemon is saved in your MovieDex</p><br>
	<label>Press [A] return to map </label> <br>
	<label>Press [B] show moviemon in Moviedex </label>
</div>