<% start "/new_game" %>
<% select "/load" %>
<div class="text-center">
	<h1 class="title-screen">Moviemon</h1>
	<ul class="actions-btns">
		<li class="action-btn">[Start] New game</li>
		<li class="action-btn">[Select] Load</li>
	</ul>
</div>